---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS } from "@consts";

const blog = (await getCollection("blog"))
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
    .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
    .sort(
        (a, b) =>
            new Date(b.data.dateStart).valueOf() -
            new Date(a.data.dateStart).valueOf(),
    )
    .slice(0, SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
    allwork.map(async (item) => {
        const { Content } = await item.render();
        return { ...item, Content };
    }),
);
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
    <Container>
        <h4 class="animate font-semibold text-black dark:text-white">
            Hi, I'm Krzysztof. <span class="text-xl">👋🏻</span>
        </h4>
        <div>
            <section>
                <article class="space-y-12">
                    <p class="animate">
                        I'm a Regen and staunch advocate for privacy and
                        open-source software, I bring over a decade of
                        experience in B2B2C sectors including e-commerce,
                        esports, banking, AI, and blockchain. I specialize in
                        launching products that precisely meet user needs and
                        deliver efficiently. My expertise lies in blockchain and
                        Web3 technologies, with a focus on decentralized
                        systems, zero-knowledge proofs, self-sovereign identity,
                        and data privacy.
                    </p>
                    <p class="animate">
                        I have a proven track record of delivering high-quality
                        products and leading effective teams. My ability to
                        bridge the gap between technical and non-technical
                        stakeholders fosters smooth collaboration and mutual
                        understanding. Additionally, I have a keen interest in
                        human-computer interaction and strive to seamlessly
                        integrate technology into our daily routines.
                    </p>
                    <p class="animate">
                        As a technology-agnostic professional, I have a
                        demonstrated history of building diverse software
                        products by leveraging the most suitable technologies
                        for each task. My expertise in rapid prototyping and
                        extreme programming allows me to maintain momentum and
                        iterate swiftly, ensuring products are refined to exceed
                        end-user expectations.
                    </p>
                </article>
            </section>
        </div>
        <section class="animate space-y-6">
            <div class="flex flex-wrap gap-y-2 items-center justify-between">
                <h5 class="font-semibold text-black dark:text-white">
                    Latest posts
                </h5>
                <Link href="/blog"> See all posts </Link>
            </div>
            <ul class="flex flex-col gap-1.5">
                {
                    blog.map((post) => (
                        <li>
                            <ArrowCard entry={post} />
                        </li>
                    ))
                }
            </ul>
        </section>

        <section class="animate space-y-4">
            <h5 class="font-semibold text-black dark:text-white">
                Let's Connect
            </h5>
            <article>
                <p>
                    If you’d like to get in touch or simply say hello, feel free
                    to connect with me on social media or send me an email.
                </p>
            </article>
            <ul class="flex flex-wrap gap-2">
                {
                    SOCIALS.map((SOCIAL) => (
                        <li class="flex gap-x-2 text-nowrap">
                            <Link
                                href={SOCIAL.HREF}
                                external
                                aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
                            >
                                {SOCIAL.NAME}
                            </Link>
                            {"/"}
                        </li>
                    ))
                }
                <li class="line-clamp-1">
                    <Link
                        href={`mailto:${SITE.EMAIL}`}
                        aria-label={`Email ${SITE.NAME}`}
                    >
                        {SITE.EMAIL}
                    </Link>
                </li>
            </ul>
        </section>
    </Container>
</PageLayout>
